{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <title>비밀번호 재설정</title>
  </head>
  <body>
    <div class="signup-box">
      <div class="login-box">
        <div class="login-nav">
          <span
            ><a href="/"
              ><img
                src="{% static 'img/icon/left_page.png'%}"
                style="width: 30px" /></a
          ></span>
          <div class="login-name">비밀번호 재설정</div>
        </div>
        <div>
          <img src="{% static 'img/Only_Text.png' %}" style="width: 250px" />
        </div>
          <div class="email-container"><span style="font-family: GongGothicMedium;">이메일 주소를 확인하고 이메일에 주어진 링크를 통해 비밀번호를 변경하세요</span>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{text}}
              </br>
                <button type="submit">비밀번호 변경</button>
            </form>
          </div>
      </div>
    </div>
  </body>
</html>